* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #86A9E6;

}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.container {
    width: fit-content;
    margin: 60px auto;

    input {
        width: 250px;
        padding: 15px;
        border-radius: 10px;
        border: 1.5px solid #6939E6;
    }

    #add_tarefa {
        margin-left: 20px;
        font-size: 16px;
        border: none;
        background-color: #6939E6;
        border-radius: 5px;
        box-shadow: 5px 5px 4px #5435a47e;
        width: fit-content;
        padding: 10px;
        color: #fff;
        cursor: pointer;
    }
}

li {
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    background-color: rgb(219, 199, 173);
    list-style: none;
    width: fit-content;
    height: 90px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(112, 77, 31, 0.523);

    button {
        margin-left: 20px;
        font-size: 16px;
        border: none;
        background-color: rgb(86, 206, 86);
        border-radius: 5px;
        box-shadow: 5px 5px 4px rgba(12, 93, 12, 0.431);
        width: fit-content;
        padding: 10px;
    }
}




.completada {
    color: gray;
    text-decoration: line-through;
}

.deletar {
    margin-left: 20px;
    font-size: 16px;
    border: none;
    background-color: red;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(214, 60, 60, 0.337);
    width: fit-content;
    padding: 10px;
    color: #fff;
}